<html>

<head>

  <title>Profile</title>
  <link rel="icon" href="https://www.itau.com.br/content/dam/itau/varejo/logo-itau-varejo-desktop.png">

  
  <link rel="stylesheet" href="https://code.ionicframework.com/0.9.25/css/ionic.min.css" >  
  <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css">
  <link rel="stylesheet" href="./css/header.css">
</head>


<body onload="carregaSoftware()">
    
    <div class="bar bar-header bar-danger">

        <img src="https://logospng.org/download/itau/logo-itau-4096.png" alt="some text" width=40 height=40>
    
        <div class="interna">
          <a href="profile.html"><button type="button" class="btn btn-ghost-dark">Perfil</button></a>
          <a href="novopedido.html"><button type="button" class="btn btn-ghost-dark">Novo Pedido</button></a>
          <button type="button" class="btn btn-ghost-dark" onclick="logout();">Logout</button>
        </div>
    
        <ion-content has-header="true">
          <div id="profile-bg">
            <div id="content">sss
              <div id="profile-info">
                <div id="fotoUser">              
                </div>
                <BR><BR><BR><BR>
                <hr>
                <!--<h4> Novo Pedido </h4><hr><br>-->
                <h3>Selecione sua Máquina  </h3>
                <div class="ml-3 mt-3">
                    <div id="listaMaquina"></div>
                </div>
                <br>


                <h3> Selecione seus softwares: </h3>                
                <div class="ml-3 mt-3">
                    <div id="listaSoftware"></div>
                </div>
                <br>

                <div class="row mt-2">
                    <div class="col-12">
                        <h3>Observação do pedido:<br></h3>
                        
                        <div class="row justify-content-center">
                        
                        <div class="col-4 align-self-center">
                            <input type="text" id="obs_pedido" class="border border-light" />
                        </div>
                        </div>
                    </div>
                </div>                
            
                <div class="d-flex align-items-end flex-column">
                    <div class="p-2">
                        <button type="button" class="btn btn-success"
                            onclick="gera_lista_softwares_escolhidos()">Finalizar</button>
                    </div>
                </div>
              </div>
            </div>
            </div>
        </ion-content>



       









    
    <!--Import do SweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <!--Import do Jquery-->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

    <!--JS da pagina-->
    <script type="text/javascript" src="./js/novopedido.js"></script>


</body>

</html>