<html>

<head>

  <title>Profile</title>
  <link rel="icon" href="https://www.itau.com.br/content/dam/itau/varejo/logo-itau-varejo-desktop.png">

  <link rel="stylesheet" href="./css/header.css">
  <link href="https://code.ionicframework.com/0.9.25/css/ionic.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css">
</head>

<body >


  <div class="bar bar-header bar-danger">

    <img src="https://logospng.org/download/itau/logo-itau-4096.png" alt="some text" width=40 height=40>
    <div class="interna">
      <button type="button" class="btn btn-ghost-dark">Perfil</button>
      <a href="novopedido.html"><button type="button" class="btn btn-ghost-dark">Novo Pedido</button></a>
      <button type="button" class="btn btn-ghost-dark" onclick="logout();">Logout</button>

    </div>

    <ion-content scroll="true" >
      <div id="profile-bg"  >

        <div id="content" >

          <div id="profile-info" >
            <div id="fotoUser">

              <img class="profileimage" src="{{LINKFOTO}}">
            </div>
            <BR>

            <div id="perfil">
              <h3 id="profile-name"> {{NOME}}</h3>
            </div>

            <hr>
            <h4>Meus Pedidos</h4>
            <hr>
            <div id="pedidos">
              <div class="row">
                <h5>
                  <a href="detalhepedido.html?num={{NUMPEDIDO}}">

              </div>
              <div id="codigo">

              </div>

    </ion-content>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/js/coreui.min.js"></script>
    <script type="text/javascript" src="./js/profile.js"></script>
</body>

</html>