<html>
  <head>
    
    <title>Profile</title>
    
    <link rel="stylesheet" href="test.css">
    <link href="https://code.ionicframework.com/0.9.25/css/ionic.min.css" rel="stylesheet">

    <script type="text/javascript" src="detalhepedido.js"></script>


    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css">
    <script src="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/js/coreui.min.js"></script>

  </head>

  <body onload="carregaUser();">
    
    
      <div class="bar bar-header bar-danger">
        
        <img src="https://logospng.org/download/itau/logo-itau-4096.png" alt="some text" width=40 height=40>
        <div class="interna">
        <button type="button" class="btn btn-ghost-dark" href="profile.html";>Perfil</button>
        <button type="button" class="btn btn-ghost-dark" onclick="novoPedido();">Novo Pedido</button>
        <button type="button" class="btn btn-ghost-dark" onclick="logout();">Logout</button>
   
      </div>
      
      <ion-content has-header="true">
        <div id="profile-bg">
        
        <div id="content">
          
          <div id="profile-info">
            <div id="fotoUser"> 
                  
                <img class="profileimage" src="{{LINKFOTO}}">
            </div>
            <BR>
             
            <div id="perfil">
              <h3 id="profile-name"> {{NOME}}</h3>
            </div>


            
            <hr>
            
            
            <div id="detalhes">
              

          </div>
            
                
          </ion-content>
  </body>
</html>